schemas/S111/1.0.0/XC/20190422/S111_ExchangeCatalogue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.iho.int/s111/1.0/xc" targetNamespace="http://www.iho.int/s111/1.0/xc" elementFormDefault="qualified" attributeFormDefault="unqualified"
	xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0"
	xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
	xmlns:gcx="http://standards.iso.org/iso/19115/-3/gcx/1.0"
	xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
	xmlns:lan="http://standards.iso.org/iso/19115/-3/lan/1.0"
	xmlns:mco="http://standards.iso.org/iso/19115/-3/mco/1.0"
	xmlns:mri="http://standards.iso.org/iso/19115/-3/mri/1.0"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:S100XC="http://www.iho.int/s100/xc"
	version="Draft-1.0.0-20190422">
	<!-- ============================================================================================= -->
	<!-- XML Schema for S-111 Edition 1.0.0 exchange set catalogues. 								   -->
	<!-- ============================================================================================= -->

	<!--
	© Copyright 2018 
	Prepared under contract for NOAA (Original)
	
	License
	Certain parts of this document refer to or are based on the standards, documents, schemas, or other material
	of the International Organization for Standardization (ISO), Open Geospatial Consortium (OGC), International
	Hydrographic Organization / Organisation Hydrographique Internationale (IHO/OHI).
	The ISO material can be obtained from any ISO member and from the Web site of the ISO Central Secretariat
	at www.iso.org.
	The OGC material can be obtained from the OGC Web site at www.opengeospatial.org.
	The IHO material can be obtained from the IHO Web site at www.iho.int or from the International Hydrographic
	Bureau.
	
	Permission to copy and distribute this document is hereby granted provided that this notice is retained
	on all copies, and that IHO, NOAA are credited when the material is redistributed or used in
	part or whole in derivative works.
	Redistributions in binary form must reproduce this notice in the documentation and/or other materials
	provided with the distribution.
	
	Disclaimer
	This work is provided by the copyright holders and contributors "as is" and any express or implied warranties,
	including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose
	are disclaimed. In no event shall the copyright owner or contributors be liable for any direct, indirect,
	incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute
	goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of
	liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way
	out of the use of this software, even if advised of the possibility of such damage.
	
	Document history
	Draft Version 1.0.0	2018-10-31	Raphael Malyankar (Portolan Sciences LLC) for NOAA
		Build 20190422	(RMM)	Added edition+revision to namespace; updated schemalocation of S100 generic catalogue;
			removed unneeded ISO namespaces and imports

	-->
<!--
	Note that since the S-111 extends the S-100 generic schemas for exchange catalogues to add discovery metadata
	elements, the namespace for the dataset discovery element is different from the S-100 exchange catalogue namespace.
-->
	<!-- Imports - update as necessary when the exchange catalogue is updated -->
	<!-- Imports from local file -->
	<xs:import namespace="http://www.iho.int/s100/xc" schemaLocation="../../../../S100/4.0.0/S100Catalog/20190422/S100_ExchangeCatalogue.xsd"/>

	<xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/cit/2.0/cit.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gco/1.0/gco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gcx/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gcx/1.0/gcx.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/gex/1.0/gex.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/lan/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/lan/1.0/lan.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mco/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mco/1.0/mco.xsd"/>
	<xs:import namespace="http://standards.iso.org/iso/19115/-3/mri/1.0" schemaLocation="../../../../standards.iso.org/19115/-3/mri/1.0/mri.xsd"/>
	<!--<xs:import namespace="http://standards.iso.org/iso/19115/-3/mrl/2.0" schemaLocation="../../../../standards.iso.org/19115/-3/mrl/2.0/mrl.xsd"/>-->
	

	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/1999/xlink.xsd"/>

	<!-- For imports from ISO's site, replace "../../../../standards.iso.org" in schemaLocation attributes with "https://standards.iso.org/iso" -->

	<xs:simpleType name="dataCodingFormatType">
		<xs:annotation>
			<xs:documentation>Coverage type. See S-100 4.0.0 Table 10c-4.</xs:documentation>
			<xs:documentation>S-111 1.0.0 does not use irregular grids, variable cell size grids, or TIN</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="fixedStations">
				<xs:annotation>
					<xs:appinfo><label>Time series at fixed stations</label></xs:appinfo>
					<xs:appinfo><numericCode>1</numericCode></xs:appinfo>
					<xs:documentation>Data for one or more individual, fixed stations</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="regularGrid">
				<xs:annotation>
					<xs:appinfo><label>Regularly-gridded arrays</label></xs:appinfo>
					<xs:appinfo><numericCode>2</numericCode></xs:appinfo>
					<xs:documentation>Regularly-gridded data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ungeorectifiedGrid">
				<xs:annotation>
					<xs:appinfo><label>Ungeorectified gridded arrays</label></xs:appinfo>
					<xs:appinfo><numericCode>3</numericCode></xs:appinfo>
					<xs:documentation>Ungeorectified gridded data (Part 8 clause 8-8.1.2)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="movingPlatform">
				<xs:annotation>
					<xs:appinfo><label>Moving Platform</label></xs:appinfo>
					<xs:appinfo><numericCode>4</numericCode></xs:appinfo>
					<xs:documentation>Moving platform (for example surface drifter) data</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="typeOfCurrentDataType">
		<xs:annotation>
			<xs:documentation>Types of surface current data, based on the source of the data</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="historicalObservation">
				<xs:annotation>
					<xs:appinfo><label>Historical observation</label></xs:appinfo>
					<xs:appinfo><numericCode>1</numericCode></xs:appinfo>
					<xs:documentation>Observation made hours, days, etc., in the past</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="realTimeObservation">
				<xs:annotation>
					<xs:appinfo><label>Real-time observation</label></xs:appinfo>
					<xs:appinfo><numericCode>2</numericCode></xs:appinfo>
					<xs:documentation>Observation no more than a few minutes old</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="astronomicalPrediction">
				<xs:annotation>
					<xs:appinfo><label>Astronomical prediction</label></xs:appinfo>
					<xs:appinfo><numericCode>3</numericCode></xs:appinfo>
					<xs:documentation>Value computed using harmonic constants only</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="analysisOrHybridMethod">
				<xs:annotation>
					<xs:appinfo><label>Analysis or hybrid method</label></xs:appinfo>
					<xs:appinfo><numericCode>4</numericCode></xs:appinfo>
					<xs:documentation>Calculation by statistical or other indirect methods, or a combination of methods</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hydrodynamicModelHindcast">
				<xs:annotation>
					<xs:appinfo><label>Hydrodynamic model hindcast</label></xs:appinfo>
					<xs:appinfo><numericCode>5</numericCode></xs:appinfo>
					<xs:documentation>Gridded data from a two- or three-dimensional dynamic simulation of past conditions using only observed data for boundary forcing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="hydrodynamicModelForecast">
				<xs:annotation>
					<xs:appinfo><label>Hydrodynamic model forecast</label></xs:appinfo>
					<xs:appinfo><numericCode>6</numericCode></xs:appinfo>
					<xs:documentation>Gridded data from a two- or three-dimensional dynamic simulation of future conditions using predicted data for boundary forcing</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="minCurrentSpeedType">
		<xs:annotation><xs:documentation>Type definition for restrictions on minimum current speed in metadata.</xs:documentation></xs:annotation>
		<xs:union>
			<xs:simpleType><xs:restriction base="xs:double"><xs:minInclusive value="0.0"/></xs:restriction></xs:simpleType>
			<xs:simpleType><xs:restriction base="xs:double"><xs:minInclusive value="-1.0"/><xs:maxInclusive value="-1.0"/></xs:restriction></xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="maxCurrentSpeedType">
		<xs:annotation><xs:documentation>Type definition for restrictions on maximum current speed in metadata.</xs:documentation></xs:annotation>
		<xs:union>
			<xs:simpleType><xs:restriction base="xs:double"><xs:minInclusive value="0.0"/></xs:restriction></xs:simpleType>
			<xs:simpleType><xs:restriction base="xs:double"><xs:minInclusive value="-1.0"/><xs:maxInclusive value="-1.0"/></xs:restriction></xs:simpleType>
		</xs:union>
	</xs:simpleType>

	<xs:element name="S111_DatasetDiscoveryMetadata" type="S111_DatasetDiscoveryMetadata" substitutionGroup="S100XC:S100_DatasetDiscoveryMetadata"/>
	<xs:complexType name="S111_DatasetDiscoveryMetadata">
		<xs:annotation>
			<xs:documentation>Metadata about S-111 individual datasets.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="S100XC:S100_DatasetDiscoveryMetadata">
				<xs:sequence>
					<xs:element name="typeOfCurrentData" type="typeOfCurrentDataType" minOccurs="1" maxOccurs="1"><xs:annotation><xs:documentation>Type or source of current data</xs:documentation></xs:annotation></xs:element>
					<xs:element name="dataCodingFormat" type="dataCodingFormatType" minOccurs="1" maxOccurs="1"><xs:annotation><xs:documentation>Data organization index, used to read the data</xs:documentation></xs:annotation></xs:element>
					<xs:element name="methodCurrentsProduct" type="S100XC:NillableString_PropertyType" minOccurs="1" maxOccurs="1"><xs:annotation><xs:documentation>Methodology</xs:documentation></xs:annotation></xs:element>
					<xs:element name="minDatasetCurrentSpeed" type="minCurrentSpeedType" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>Minimum current speed in the dataset</xs:documentation></xs:annotation></xs:element>
					<xs:element name="maxDatasetCurrentSpeed" type="maxCurrentSpeedType" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>Maximum current speed in the dataset</xs:documentation></xs:annotation></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>

	</xs:complexType>

	
	<!-- ============================================================
	Types for elements derived from ISO types
	============================================================ -->
	<!-- none -->
	

	

</xs:schema>
